<script src="../assets/main.js" defer></script>  
  <header class="header">
    <nav class="navbar">
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link" routerLink="/">Grocery</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" routerLink="/history">History</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" routerLink="/feedback">feedback</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" routerLink="/user">User'Experience</a>
            </li>
        </ul>
    </nav> 
  </header>
 <router-outlet></router-outlet> 